* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

:root {
    --color-nav-btn: #363636;
    --nuove-uscite: #1F1F1F;
    --btn-red: #CD3D0F;
    --btn-blu: #2D64E6;
    --light-btn: #D9DADC;
    --white-btn: #F5F5F5;
    --light-blue-txt: #0072CE;
    --footer-bg: #00439C;
}

/* 
    HEADER
*/

header {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

header .navbar-toggler {
    margin-left: auto;
}

header .sony {
    background-color: black;
    color: white;
}

header .navbar {
    background-color: white;
}

header .sony .img {
    width: 5rem;
}

header nav ul li.MyPs a {
    color: black!important;
}

header nav form .btn_nav {
    background-color: var(--color-nav-btn);
    color: white;
}

header nav form .fa-search {
    color: var(--color-nav-btn);
}

header nav .fa-chevron-down {
    vertical-align: middle;
    font-size: .7rem;
    color: gray;
}

header nav .navbar .nav-item:hover .nav-link,
header nav .navbar .nav-item:hover .nav-link .fa-chevron-down, 
header nav .menu_right .MyPs:hover a.nav-link,
header nav .menu_right .fa-search:hover
{
    color: var(--light-blue-txt)!important;
}

header nav .menu_right button {
    transition: 0.3s;
}

header nav .menu_right button:hover {
    outline: 3px solid white;
    outline-offset: -4px;
    color: white;
}
/* 
    / HEADER
*/




/* **************
    MAIN
**************** */
/* 
 JUMBO
*/
#jumbo {
    height: 600px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    color: white;
    background-image: url(./img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    margin-top: 98px;
}

#jumbo button {
    background-color: var(--btn-red);
    color: white;
}

#jumbo .titolo_img {
    width: 50%;
    padding-bottom: 3rem;
}


#jumbo button {
    transition: 0.3s;
}

#jumbo button:hover {
    outline: 1px solid black;
    outline-offset: -4px;
}
/* 
     /  JUMBO
*/







/* 
        CARDS
*/
#cards .img img {
    border-radius: 1.5rem;
}

#cards .special_border img{
    border: 3px solid var(--light-blue-txt);
    outline: 3px solid white;
    outline-offset: -5px;
}

#cards .img {
    transition: 0.3s;
}

#cards .img:hover {
   margin-top: -10px;
}

/* 
      /  CARDS
*/






/* 
        PS5
*/
#ps5 .info .col-12 button{
    background-color: var(--btn-blu);
    color: white;
}

#ps5 .titolo p.blue_txt {
    color: var(--light-blue-txt);
    font-weight: bold;
}

#ps5 .fs-5 {
    color: gray;
    font-weight: bold ;
}

#ps5 .cards_ps5 .element  {
    opacity: 0.7;
    transition: 0.3s;
}

#ps5 .cards_ps5 .element:hover {
    opacity: 1;
}

#ps5 .cards_ps5 .ps5_special {
    border-bottom: 2px solid var(--light-blue-txt);
    opacity: 1;
}
/* 
       / PS5
*/







/* 
    HERO2
*/
#hero2 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    background-image: url("./img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position: center;
    color: white;
}

#hero2 .titolo_img {
    width: 40%;
}

#hero2 button {
    background-color: var(--btn-red);
    color: white;
    transition: 0.3s;
}

#hero2 button:hover {
    outline: 1px solid black;
    outline-offset: -4px;
}
/* 
    /  HERO2
*/






/* 
    NUOVE USCITE
*/
#nuove_uscite {
    color: white;
    background-color: var(--nuove-uscite);
}

#nuove_uscite .element img {
    border-radius: 1.5rem;
    transition: 0.3s;
}

#nuove_uscite .element:hover img {
    margin-top: -2px;
    box-shadow: 4px 4px 10px black;
}
/* 
    / NUOVE USCITE
*/






/* 
        PS4
*/
#ps4 .titolo .fs-5 {
    color: gray;
    font-weight: bold;
}

#ps4 .card {
    border: none;
}

#ps4 .card .card-text {
    color: gray;
    font-weight: bold;
}

#ps4 .card .btn {
    transition: 0.3s;
}

#ps4 .card .btn:hover {
    outline: 3px solid white;
    outline-offset: -4px;
    color: white;
}

#ps4 .shadow_card {
    transition: 0.3s;
}

#ps4 .shadow_card:hover {
    border-radius: 3.5rem;
    box-shadow: 4px 4px 7px grey;
}
/* 
      /  PS4
*/







/* 
    PS PLUS
*/
#ps_plus {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: url("./img/ps-plus-april-monthly-games-featured-image-block.png");
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #BEBCBB;
    font-weight: bold;
}

#ps_plus .titolo_img {
    width: 50%;
}

#ps_plus button {
    background-color: var(--light-btn);
    color: var(--light-blue-txt);
    font-weight: bold;
    border: none;
    transition: 0.3s;
}

#ps_plus button:hover {
    outline: 3px solid #EAC854;
    outline-offset: -4px;
    color: white;
}
/* 
    / PS PLUS
*/






/* 
        SALES
*/
#sales .titolo .fs-5 {
    color: gray;
}

#sales .img-fluid {
    transition: 0.3s;
}

#sales .img-fluid:hover {
    margin-top: -10px;
 }
/* 
      /  SALES
*/






/* 
    PS NOW
*/

#ps_now {
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: url("./img/ps-now-april-featured-image-block.png");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    background-color: #161C3B;
    color: white;
}

#ps_now button {
    background-color: var(--white-btn);
    color: black;
    transition: 0.3s;
}

#ps_now button:hover {
    outline: 1px solid black;
    outline-offset: -4px;
}

#ps_now .titolo_img {
    width: 50%;
}

/* 
   /  PS NOW
*/



/* 
        SOCIAL
*/
#social .img-fluid:hover {
    box-shadow: 3px 3px 5px grey;
}

#social .img-fluid {
    transition: 0.3s;
}
/* 
      /  SOCIAL
*/


/* **************
   / MAIN
**************** */

/* 
    FOOTER
*/
footer .logo_img img {
    width: 30%;
    filter: brightness(0) invert(1);
}

footer {
    color: white;
    background-color: #00439C;
}

footer .link_footer ul {
    list-style-type: none;
}

footer .sony_img {
    width: 30%;
    padding-top: 9rem;
}

footer .link_footer {
    padding-top: 3rem;
}
/* 
   / FOOTER
*/





@media screen and (max-width: 768px) {
    #ps_plus {
        background-image: none;
    }

    #ps_now {
        background-image: none;
    }

    footer .sony_img {
        padding-top: 4rem;
    }

    #sales .img-fluid {
        padding-bottom: 1.5rem;
    }
}