* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

/* 
    HEADER
*/

header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

header .navbar-toggler {
    margin-left: auto;
}

header .sony {
    background-color: black;
    color: white;
}

header .navbar {
    background-color: white;
}
/* 
    / HEADER
*/




/* **************
    MAIN
**************** */
/* 
 JUMBO
*/
#jumbo {
    height: 400px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}


/* 
    HERO2
*/

#hero2 {
    height: 400px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    background-color: tomato;
}

/* 
    NUOVE USCITE
*/

#nuove_uscite .titolo{
    color: white;
}


/* **************
   / MAIN
**************** */
