* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

/* 
    HEADER
*/

header .navbar-toggler {
    margin-left: auto;
}

header .sony {
    background-color: black;
    color: white;
}

header .navbar {
    background-color: white;
}
/* 
    / HEADER
*/




/* **************
    MAIN
**************** */
/* 
 JUMBO
*/
#jumbo {
    height: 400px;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}



/* **************
   / MAIN
**************** */






@media screen and (max-width:992px) {
  
}